@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Caladea:400&display=swap);

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Caladea';
}

header {
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    padding: 0px 100px;
    z-index: 1;
    font-family: 'Montserrat';
    .left-menu {
        display: flex;
        justify-content: space-between;
        width: 15%;
    }
    .logo {
        position: absolute;
        left: 47.5%;
    }
    .right-menu {
        display: flex;
        justify-content: space-between;
        width: 6%;
        span:last-child {
            font-size: 15px;
            opacity: 0.7;
        }
    }
}

main {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    width: 100%;
    height: 100vh;
    border-top: 100px;

    .main-photo {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .main-link {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f9dbbe;

        span {
            width: 50%;
            font-size: 30px;
            line-height: 40px;
            opacity: 0.7;
            margin-bottom: 50px;
            text-align: center;
        }

        .main-link__btn {
            display: flex;
            border: 2px solid rgba($color: #000000, $alpha: 0.6);
            opacity: 0.6;
            width: 280px;
            height: 50px;
            justify-content: space-between;
            padding: 0px 15px;

            div {
                font-size: 12px;
                display: flex;
                align-items: center;
            }
            div:first-child {
                border-right: 2px solid rgba($color: #000000, $alpha: 0.6);
                width: 87%;
            }

            div:last-child i {
                padding-right: 3px;
            }
        }

        .main-link__btn:hover {
            background-color: rgba($color: #000000, $alpha: 1);
            color: white;
        }
    }
}

.booking {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    .booking-photo {
        width: 45%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .booking-link {
        width: 45%;
        background-color: #f3ede8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        span:first-child {
            margin-bottom: 20px;
        }
        span:nth-child(2) {
            font-size: 28px;
            width: 40%;
            text-align: center;
            line-height: 40px;
            opacity: 0.7;
            margin-bottom: 50px;
        }
        .booking-link__btn {
            display: flex;
            border: 2px solid rgba($color: #000000, $alpha: 0.6);
            opacity: 0.6;
            width: 280px;
            height: 50px;
            justify-content: space-between;
            padding: 0px 15px;

            div {
                font-size: 12px;
                display: flex;
                align-items: center;
            }
            div:first-child {
                border-right: 2px solid rgba($color: #000000, $alpha: 0.6);
                width: 87%;
            }

            div:last-child i {
                padding-right: 3px;
            }
        }

        .booking-link__btn:hover {
            background-color: rgba($color: #000000, $alpha: 1);
            color: white;
        }
    }
}

.shop {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .shop-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        span:first-child {
            font-size: 12px;
            margin-bottom: 20px;
        }
        span:last-child {
            font-size: 28px;
        }
    }
    .shop-list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .shop-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            .item-photo {
                margin-bottom: 100px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .item-category {
                font-size: 12px;
                margin-bottom: 10px;
            }
            .item-name {
                font-size: 24px;

                margin-bottom: 20px;
            }
            .item-price {
                font-size: 12px;
                opacity: 0.5;
                font-weight: 600;
                margin-bottom: 40px;
            }
            .item-link {
                width: 250px;
                display: flex;
                justify-content: center;
                font-size: 12px;
                padding: 20px;
                border: 1px solid rgba($color: #000000, $alpha: 0.6);
            }
            .item-link:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

.story {
    display: grid;
    width: 90%;
    height: 180vh;
    margin-top: 100px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.4%;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        span:nth-child(1) {
            margin-bottom: 30px;
        }
        span:nth-child(2) {
            margin-bottom: 50px;
            font-size: 30px;
        }
        span:nth-child(3) {
            text-decoration: underline;
        }
    }

    div img {
        width: 100%;
        height: 100%;
    }

    div:first-child {
        grid-area: 1/1/2/2;
    }
    div:nth-child(2) {
        grid-area: 1/2/2/3;
        background-color: #f3ede8;
    }
    div:nth-child(3) {
        grid-area: 2/1/3/2;
        background-color: #f3ede8;
    }
    div:nth-child(4) {
        grid-area: 2/2/3/3;
    }
    div:nth-child(5) {
        grid-area: 3/1/4/2;
    }
    div:nth-child(6) {
        grid-area: 3/2/4/3;
        background-color: #f3ede8;
    }
}

.social {
    display: grid;
    width: 90%;
    height: 80vh;
    margin-top: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    div img {
        width: 100%;
        height: 100%;
    }

    div:nth-child(1) {
        grid-area: 1/1/2/2;
    }
    div:nth-child(2) {
        grid-area: 1/2/2/3;
    }
    div:nth-child(3) {
        grid-area: 1/3/2/4;
    }
    div:nth-child(4) {
        grid-area: 1/4/2/5;
    }
    div:nth-child(5) {
        grid-area: 2/1/3/2;
    }
    div:nth-child(6) {
        grid-area: 2/2/3/3;
    }
    div:nth-child(7) {
        grid-area: 2/3/3/4;
    }
    div:nth-child(8) {
        grid-area: 2/4/3/5;
    }
}

footer {
    width: 100%;
    height: 30vh;
    background-color: #f3ede8;
    margin-top: 200px;
    display: flex;
    padding: 50px 100px 50px 100px;
    justify-content: space-evenly;
    font-size: 12px;
    font-family: 'Montserrat';
    div {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid rgba($color: #000000, $alpha: 0.6);
        span {
            margin-bottom: 10px;
        }
        span:first-child {
            margin-bottom: 40px;
            opacity: 0.6;
            font-weight: 600;
        }
    }

    div:last-child {
        border-right: none;
    }
}
